/* Container for the login page */
.login-container {
  display: flex;
  height: 100vh;
  background-image: url('C:\\Users\\User\\Desktop\\GUI Application\\webapp2\\src\\assests\\signup.jpeg');
  background-size: cover;
  background-position: center;
  color: white;
}
  
/* Right section for the form */
.login-left {
  flex: 1; /* Ensures it takes up space proportionally */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers the content vertically */
  padding-left: 200px; /* Adds space between the form and the left edge of this container */
  margin:10px;
}

  
.login-header {
  font-size: 32px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 20px;
}
  
  /* Form styles */
.login-form {
  width: 100%; /* Ensures the form takes up the full width of its container */
  max-width: 400px; /* Optional: Restrict the form's width */
}
  
.form-group {
    margin-bottom: 20px;
}
  
  .form-label {
    font-size: 18px;
    font-weight: 200;
    color: #333;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  .password-container {
    position: relative;
  }
  
  .password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #e1b136;
    color: white;
    border-radius: 30px;
    border-color: #000000;
    border-width: 2px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .submit-btn:hover {
    background-color: #edd780;
  }
  
  .signup-link {
    text-align: center;
    margin-top: 15px;
    display:flex;
    gap: 10px;
  }
  
  .signup-link-text {
    color: #4A90E2;
    text-decoration: underline;
    cursor: pointer;
  }
  