.aboutHeader-container{
    background-color: antiquewhite;
    height:500px;
    display: flex;
}
.aboutHeader-container img{
    width: 800px;
    height: 400px;
    margin-top: 100px;
}
.aboutHeader-container p{
    margin-top: 100px;
}
.sentence{
    margin-top: 10px;
}
.aboutHeader-container .para .sentence {
    margin-top: 20px; /* Add a small gap between the sentences */
}
.mission-vision{
    display: flex;
    background-color: rgb(255, 255, 255);
    gap:150px;
}
.mission-vision .mission{
    height:200px;
    width: 300px;
    margin-top: 100px;
    margin-left: 400px;
    margin-bottom: 100px;
    background-image:url("C:\Users\User\Desktop\GUI Application\webapp2\public\images\vmbg.jpg");
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    overflow: hidden; /* Ensures any overflowing content is hidden */
    border-radius: 20px;
}
.mission-vision .vision{
    height:200px;
    width: 300px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-image:url("C:\Users\User\Desktop\GUI Application\webapp2\public\images\vmbg.jpg");
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    overflow: hidden; /* Ensures any overflowing content is hidden */
    border-radius: 20px;
}
.topic{
    background-color: rgb(255, 255, 255);
    border-top: 200px;
    padding-top: 50px;
    padding-bottom: 5px;
}
.testimonials{
    background-color: #FFF8C3;
    width:full;
    height: 500px;
    padding-top: 10px;
}