.header {
    background-image: url('C:\Users\User\Desktop\GUI Application\webapp2\src\assests\bg.jpg'); 
    /* alt:"pic"; */
    background-size: cover;
    background-position: center;
    height: 600px; /* Adjust height as needed */
    color: white; /*Adjust text color if you have any text*/
    display: flex;
    align-items: center;
    justify-content: center;
  }