.largeCont{
    background-color: rgb(237, 225, 187);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 50px; /* Adjust the top padding as needed */
}
.home-cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 50px; /* Spacing between cards */
    padding: 50px 20px; /* Adjust the padding, top padding reduced */
    background-color: rgb(237, 225, 187);
}

.card {
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.card-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-right: 1px solid #ddd;
}

.card-content {
    padding: 20px;
    flex: 1;
}

.card-title {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.card-description {
    font-size: 16px;
    margin-bottom: 15px;
    color: #555;
}
.book-now-btn{
    color: rgb(0, 0, 0);
    background-color: #e1b136;
    width: 200px;
    height: 35px;
    border-radius: 40px;
    font-size:medium;
    border: 1px solid #000;
}